[submodule "zig2d"]
	path = zig2d
	url = git@github.com:Tesseract22/zig2d.git
[submodule "thidparty/zig-xml"]
	path = thirdparty/zig-xml
	url = https://github.com/ianprime0509/zig-xml.git
[submodule "thirdparty/zig-sqlite"]
	path = thirdparty/zig-sqlite
	url = https://github.com/vrischmann/zig-sqlite.git
